# Load Data

In [103]:
# Import modules
import pandas as pd
import numpy as np

# Plotting modules
import seaborn as sns
import matplotlib.pyplot as plt

In [87]:
# Load in all data tables
country_series_df = pd.read_csv("Resources/EdStatsCountry-Series.csv")
country_df = pd.read_csv("Resources/EdStatsCountry.csv")
indicators_df = pd.read_csv("Resources/EdStatsData.csv")
footnote_df = pd.read_csv("Resources/EdStatsFootNote.csv")
series_df = pd.read_csv("Resources/EdStatsSeries.csv")

# Review Data

In [73]:
# Sizes of the 3 dataframes I will be using for the analysis
print(f"Indicators dataframe size: {indicators_df.shape}")
print(f"Series dataframe size: {series_df.shape}")
print(f"Country dataframe size: {country_df.shape}")

Indicators dataframe size: (886930, 70)
Series dataframe size: (3665, 21)
Country dataframe size: (241, 32)

### Taking a look at the indicators dataframe

In [74]:
pd.set_option('max_columns', None) # Show all columns
# Many of the years columns are empty as many of the countries only have data for some of the years (to keep in mind while cleaning)
# Years range from 1970-2017, then 2020-2100 by 5s
indicators_df.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020,2025,2030,2035,2040,2045,2050,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
# The first 4 columns are all non-null and strings
# The rest of the columns have varying null percentages, all floats
indicators_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886930 entries, 0 to 886929
Data columns (total 70 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    886930 non-null  object
 1   Country Code    886930 non-null  object
 2   Indicator Name  886930 non-null  object
 3   Indicator Code  886930 non-null  object
 4   1970            72288 non-null   float64
 5   1971            35537 non-null   float64
 6   1972            35619 non-null   float64
 7   1973            35545 non-null   float64
 8   1974            35730 non-null   float64
 9   1975            87306 non-null   float64
 10  1976            37483 non-null   float64
 11  1977            37574 non-null   float64
 12  1978            37576 non-null   float64
 13  1979            36809 non-null   float64
 14  1980            89122 non-null   float64
 15  1981            38777 non-null   float64
 16  1982            37511 non-null   float64
 17  1983            38460 non-null   float64
 18  1984            38606 non-null   float64
 19  1985            90296 non-null   float64
 20  1986            39372 non-null   float64
 21  1987            38641 non-null   float64
 22  1988            38552 non-null   float64
 23  1989            37540 non-null   float64
 24  1990            124405 non-null  float64
 25  1991            74437 non-null   float64
 26  1992            75543 non-null   float64
 27  1993            75793 non-null   float64
 28  1994            77462 non-null   float64
 29  1995            131361 non-null  float64
 30  1996            76807 non-null   float64
 31  1997            73453 non-null   float64
 32  1998            84914 non-null   float64
 33  1999            118839 non-null  float64
 34  2000            176676 non-null  float64
 35  2001            123509 non-null  float64
 36  2002            124205 non-null  float64
 37  2003            130363 non-null  float64
 38  2004            128814 non-null  float64
 39  2005            184108 non-null  float64
 40  2006            140312 non-null  float64
 41  2007            137272 non-null  float64
 42  2008            134387 non-null  float64
 43  2009            142108 non-null  float64
 44  2010            242442 non-null  float64
 45  2011            146012 non-null  float64
 46  2012            147264 non-null  float64
 47  2013            137509 non-null  float64
 48  2014            113789 non-null  float64
 49  2015            131058 non-null  float64
 50  2016            16460 non-null   float64
 51  2017            143 non-null     float64
 52  2020            51436 non-null   float64
 53  2025            51436 non-null   float64
 54  2030            51436 non-null   float64
 55  2035            51436 non-null   float64
 56  2040            51436 non-null   float64
 57  2045            51436 non-null   float64
 58  2050            51436 non-null   float64
 59  2055            51436 non-null   float64
 60  2060            51436 non-null   float64
 61  2065            51436 non-null   float64
 62  2070            51436 non-null   float64
 63  2075            51436 non-null   float64
 64  2080            51436 non-null   float64
 65  2085            51436 non-null   float64
 66  2090            51436 non-null   float64
 67  2095            51436 non-null   float64
 68  2100            51436 non-null   float64
 69  Unnamed: 69     0 non-null       float64
dtypes: float64(66), object(4)
memory usage: 473.7+ MB

In [76]:
# Getting descriptive statistics for the year columns would be meaningless as each row measures a different indicator
# But an analysis of the string columns shows that both country names and indicators are repeated, so that every possible combination is made (242*3,665 = 886,930 rows)
indicators_df.describe(include=object)

,Country Name,Country Code,Indicator Name,Indicator Code
count,886930,886930,886930,886930
unique,242,242,3665,3665
top,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2
freq,3665,3665,242,242

### Taking a look at the series dataframe

In [77]:
# This table gives information about the indicators, many columns have mostly null values
series_df.head(3)

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,Limitations and exceptions,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
# Columns 0, 1, 2, 4, and 13 are all non-null strings
# All of the columns with floats are entirely null
series_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 21 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Series Code                          3665 non-null   object
 1   Topic                                3665 non-null   object
 2   Indicator Name                       3665 non-null   object
 3   Short definition                     2156 non-null   object
 4   Long definition                      3665 non-null   object
 5   Unit of measure                      0 non-null      float64
 6   Periodicity                          99 non-null     object
 7   Base Period                          314 non-null    object
 8   Other notes                          552 non-null    object
 9   Aggregation method                   47 non-null     object
 10  Limitations and exceptions           14 non-null     object
 11  Notes from original source           0 non-null      float64
 12  General comments                     14 non-null     object
 13  Source                               3665 non-null   object
 14  Statistical concept and methodology  23 non-null     object
 15  Development relevance                3 non-null      object
 16  Related source links                 215 non-null    object
 17  Other web links                      0 non-null      float64
 18  Related indicators                   0 non-null      float64
 19  License Type                         0 non-null      float64
 20  Unnamed: 20                          0 non-null      float64
dtypes: float64(6), object(15)
memory usage: 601.4+ KB

In [79]:
# Analyzing non-null columns, series code is the primary key, and there are 37 topic categories
series_df.describe(include=object)

,Series Code,Topic,Indicator Name,Short definition,Long definition,Periodicity,Base Period,Other notes,Aggregation method,Limitations and exceptions,General comments,Source,Statistical concept and methodology,Development relevance,Related source links
count,3665,3665,3665,2156,3665,99,314,552,47,14,14,3665,23,3,215
unique,3665,37,3665,1169,2060,1,4,14,3,9,8,31,2,1,1
top,BAR.NOED.1519.FE.ZS,Learning Outcomes,Barro-Lee: Percentage of female population age...,Data Interpretation: 1=Latent; 2=Emerging; 3=E...,Data Interpretation: 1=Latent; 2=Emerging; 3=E...,Annual,Projections (2010 to 2100),EGRA,Weighted average,Data should be used cautiously because of diff...,When NEET rates are available for more than tw...,UNESCO Institute for Statistics,TIMSS,Unemployment and total employment are the broa...,http://saber.worldbank.org/index.cfm
freq,1,1046,1,215,215,99,308,403,31,3,3,1269,20,3,215

### Taking a look at the country dataframe

In [80]:
# This table gives information about the countries studied
country_df.head(3)

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,National accounts base year,National accounts reference year,SNA price valuation,Lending category,Other groups,System of National Accounts,Alternative conversion factor,PPP survey year,Balance of Payments Manual in use,External debt Reporting status,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,2000,NaN,Value added at basic prices (VAB),NaN,NaN,Country uses the 1993 System of National Accou...,NaN,NaN,"IMF Balance of Payments Manual, 6th edition.",NaN,Special trade system,NaN,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,2002/03,NaN,Value added at basic prices (VAB),IDA,HIPC,Country uses the 1993 System of National Accou...,NaN,NaN,NaN,Actual,General trade system,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,2002,NaN,Value added at producer prices (VAP),IBRD,NaN,Country uses the 1993 System of National Accou...,1991–96,2005,"IMF Balance of Payments Manual, 6th edition.",Actual,Special trade system,Budgetary central government,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN

In [81]:
# Columns 0, 1, 2, 3 are all non-null strings
# Varying percentages of null values in columns
country_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 32 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Code                                       241 non-null    object
 1   Short Name                                         241 non-null    object
 2   Table Name                                         241 non-null    object
 3   Long Name                                          241 non-null    object
 4   2-alpha code                                       238 non-null    object
 5   Currency Unit                                      215 non-null    object
 6   Special Notes                                      145 non-null    object
 7   Region                                             214 non-null    object
 8   Income Group                                       214 non-null    object
 9   WB-2 code                                          240 non-null    object
 10  National accounts base year                        205 non-null    object
 11  National accounts reference year                   32 non-null     float64
 12  SNA price valuation                                197 non-null    object
 13  Lending category                                   144 non-null    object
 14  Other groups                                       58 non-null     object
 15  System of National Accounts                        215 non-null    object
 16  Alternative conversion factor                      47 non-null     object
 17  PPP survey year                                    145 non-null    object
 18  Balance of Payments Manual in use                  181 non-null    object
 19  External debt Reporting status                     124 non-null    object
 20  System of trade                                    200 non-null    object
 21  Government Accounting concept                      161 non-null    object
 22  IMF data dissemination standard                    181 non-null    object
 23  Latest population census                           213 non-null    object
 24  Latest household survey                            141 non-null    object
 25  Source of most recent Income and expenditure data  160 non-null    object
 26  Vital registration complete                        111 non-null    object
 27  Latest agricultural census                         142 non-null    object
 28  Latest industrial data                             107 non-null    float64
 29  Latest trade data                                  185 non-null    float64
 30  Latest water withdrawal data                       179 non-null    object
 31  Unnamed: 31                                        0 non-null      float64
dtypes: float64(4), object(28)
memory usage: 60.4+ KB

In [82]:
# Columns 0, 1, 2, 3 are all unique, and many of the categorical variables have less than 5 unique values
# The data collection years range from 1987 to 2012 for national accounts, industrial, and trade data
country_df.describe(include='all')

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,National accounts base year,National accounts reference year,SNA price valuation,Lending category,Other groups,System of National Accounts,Alternative conversion factor,PPP survey year,Balance of Payments Manual in use,External debt Reporting status,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
count,241,241,241,241,238,215,145,214,214,240,205,32.00000,197,144,58,215,47,145,181,124,200,161,181,213,141,160,111,142,107.000000,185.000000,179,0.0
unique,241,241,241,241,238,152,131,7,5,240,43,NaN,2,3,2,3,32,3,1,3,2,2,2,27,60,75,2,35,NaN,NaN,20,NaN
top,ABW,Aruba,Aruba,Aruba,AW,Euro,April 2012 database update: Based on official ...,Europe & Central Asia,Upper middle income,AW,2005,NaN,Value added at basic prices (VAB),IBRD,HIPC,Country uses the 1993 System of National Accou...,1990–95,2005,"IMF Balance of Payments Manual, 6th edition.",Actual,General trade system,Consolidated central government,General Data Dissemination System (GDDS),2011,"World Health Survey (WHS), 2003","Integrated household survey (IHS), 2012",Yes,2010,NaN,NaN,2000,NaN
freq,1,1,1,1,1,23,6,57,55,1,34,NaN,163,67,40,165,8,98,181,107,106,95,110,59,10,15,110,36,NaN,NaN,40,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001.53125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.102804,2010.994595,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.24856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.616834,2.569675,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1987.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000.000000,1995.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996.75000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007.500000,2011.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.000000,2012.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.000000,2012.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.000000,2012.000000,NaN,NaN

# Clean Data

In [83]:
# Look for missing values
def calc_perc(given_df):
    return round(given_df.isnull().sum().sum()/np.product(given_df.shape)*100, 1) # total number of null cells / total cells * 100

print(f"Percent of missing values:\nindicators_df: {calc_perc(indicators_df)}%\nseries_df: {calc_perc(series_df)}%\ncountry_df: {calc_perc(country_df)}%")

Percent of missing values:
indicators_df: 86.1%
series_df: 71.7%
country_df: 30.5%

### Indicators Dataframe

In [94]:
# Which columns in the indicator dataframe have the most missing values?
def null_columns(given_df):
    percent_missing = given_df.isnull().sum() * 100 / len(given_df) # calculating the percent of missing values in each column
    missing_value_df = pd.DataFrame({'column_name': given_df.columns,
                                 'percent_missing': percent_missing})
    missing_value_df.sort_values('percent_missing', inplace=True, ascending=False) # displaying dataframe of columns and percentages, sorted by most missing values
    return missing_value_df.transpose() # transpose dataframe for wide format

null_columns(indicators_df)

,1971,1973,1972,1974,1979,1976,1982,1989,1977,1978,1983,1988,1984,1987,1981,1986,2025,2020,2080,2030,2035,2040,2100,2045,2090,2050,2055,2060,2065,2085,2070,2075,2095,1970,1997,1991,1992,1993,1996,1994,1998,1975,1980,1985,2014,1999,2001,2002,1990,2004,2003,2015,1995,2008,2007,2013,2006,2009,2011,2012,2000,2005,2010,Indicator Name,Indicator Code,Country Code
column_name,1971,1973,1972,1974,1979,1976,1982,1989,1977,1978,1983,1988,1984,1987,1981,1986,2025,2020,2080,2030,2035,2040,2100,2045,2090,2050,2055,2060,2065,2085,2070,2075,2095,1970,1997,1991,1992,1993,1996,1994,1998,1975,1980,1985,2014,1999,2001,2002,1990,2004,2003,2015,1995,2008,2007,2013,2006,2009,2011,2012,2000,2005,2010,Indicator Name,Indicator Code,Country Code
percent_missing,90.056938,90.0547,90.033995,90.002938,89.701039,89.512458,89.504624,89.49651,89.486997,89.486437,89.239099,89.213357,89.198248,89.188456,89.150404,88.983926,85.608483,85.608483,85.608483,85.608483,85.608483,85.608483,85.608483,85.608483,85.608483,85.608483,85.608483,85.608483,85.608483,85.608483,85.608483,85.608483,85.608483,79.774206,79.448245,79.172927,78.863474,78.793526,78.509814,78.326548,76.241519,75.57225,75.064143,74.735664,68.162449,66.749486,65.442845,65.248108,65.192149,63.958534,63.525133,63.330675,63.245898,62.399239,61.592031,61.52572,60.741456,60.238945,59.146626,58.796323,50.567004,48.48757,32.16603,0.0,0.0,0.0

In [93]:
# Drop columns with 95-100% missing values
indicators_df.drop(columns=['Unnamed: 69', '2017', '2016'], inplace=True)

In [95]:
# Drop rows that contain missing values in all years (70-4 = 66)
indicators_df = indicators_df[indicators_df.isnull().sum(axis=1) < 66] # keeps only rows with less than 66 nans in dataframe

In [96]:
# The percentage of missing values dropped from 86.1% to 74.0%
print(f"New percentage of missing values in indicators dataframe: {calc_perc(indicators_df)}%")

New percentage of missing values in indicators dataframe: 74.0%

### Series Dataframe

In [97]:
# Which columns in the series dataframe have the most null values?
null_columns(series_df)

,Unnamed: 20,Notes from original source,License Type,Related indicators,Other web links,Unit of measure,Development relevance,General comments,Limitations and exceptions,Statistical concept and methodology,Aggregation method,Periodicity,Related source links,Base Period,Other notes,Short definition,Topic,Source,Long definition,Indicator Name,Series Code
column_name,Unnamed: 20,Notes from original source,License Type,Related indicators,Other web links,Unit of measure,Development relevance,General comments,Limitations and exceptions,Statistical concept and methodology,Aggregation method,Periodicity,Related source links,Base Period,Other notes,Short definition,Topic,Source,Long definition,Indicator Name,Series Code
percent_missing,100.0,100.0,100.0,100.0,100.0,100.0,99.918145,99.618008,99.618008,99.372442,98.717599,97.298772,94.133697,91.432469,84.938608,41.173261,0.0,0.0,0.0,0.0,0.0

In [99]:
# Drop columns with 100% missing values
series_df.drop(columns=['Unnamed: 20','Notes from original source','License Type','Related indicators','Other web links','Unit of measure'], inplace=True)

### Country Dataframe

In [100]:
# Which columns in the country dataframe have the most null values?
null_columns(country_df)

,Unnamed: 31,National accounts reference year,Alternative conversion factor,Other groups,Latest industrial data,Vital registration complete,External debt Reporting status,Latest household survey,Latest agricultural census,Lending category,PPP survey year,Special Notes,Source of most recent Income and expenditure data,Government Accounting concept,Latest water withdrawal data,IMF data dissemination standard,Balance of Payments Manual in use,Latest trade data,SNA price valuation,System of trade,National accounts base year,Latest population census,Region,Income Group,Currency Unit,System of National Accounts,2-alpha code,WB-2 code,Long Name,Short Name,Table Name,Country Code
column_name,Unnamed: 31,National accounts reference year,Alternative conversion factor,Other groups,Latest industrial data,Vital registration complete,External debt Reporting status,Latest household survey,Latest agricultural census,Lending category,PPP survey year,Special Notes,Source of most recent Income and expenditure data,Government Accounting concept,Latest water withdrawal data,IMF data dissemination standard,Balance of Payments Manual in use,Latest trade data,SNA price valuation,System of trade,National accounts base year,Latest population census,Region,Income Group,Currency Unit,System of National Accounts,2-alpha code,WB-2 code,Long Name,Short Name,Table Name,Country Code
percent_missing,100.0,86.721992,80.497925,75.93361,55.60166,53.941909,48.547718,41.493776,41.078838,40.248963,39.834025,39.834025,33.609959,33.195021,25.726141,24.896266,24.896266,23.236515,18.257261,17.012448,14.937759,11.618257,11.20332,11.20332,10.788382,10.788382,1.244813,0.414938,0.0,0.0,0.0,0.0

In [101]:
# Drop only the column with 100% missing values
country_df.drop(columns=['Unnamed: 31'], inplace=True)

In [102]:
# NEW sizes of the 3 dataframes
print(f"Indicators dataframe size: {indicators_df.shape}")
print(f"Series dataframe size: {series_df.shape}")
print(f"Country dataframe size: {country_df.shape}")

Indicators dataframe size: (357405, 66)
Series dataframe size: (3665, 15)
Country dataframe size: (241, 31)